.image-container {
    border-radius: 8px;
    border: 2px dashed rgb(129, 186, 247);
    background-color: rgb(202, 228, 244);
    position: relative;
    margin-bottom: 20px;
    transition: all 400ms;
    min-height: 150px;
    min-width: 200px;
    display: flex;  
    align-items: center;
    justify-content: center; 
    font-weight: 500;
    color: rgb(85, 84, 125);
    overflow: hidden; /* 🔥 IMPORTANT */
}

.preview {
    position: absolute;
    inset: 0; /* fill container */
}

.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or 'contain' if you don’t want cropping */
}