.image-container {
    border-radius: 8px;
    border: 2px dashed rgb(129, 186, 247);
    background-color: rgb(202, 228, 244);
    position: relative;
    margin-bottom: 20px;
    transition: all 400ms;
    min-height: 100px;
    min-width: 200px;
    display: flex;  
    align-items: center;
    justify-content: center; 
    font-weight: 500;
    color:rgb(85, 84, 125);
}


.image-container:hover {
    background-color: rgb(222, 240, 248);
    transition: all 400ms;
}
.upload-box {
    display: inline-block;

}

.upload-box img {
    max-width: 100%;
    height: auto;
    display: block;
}

.quill-container {
    margin-bottom: 20px;
}

.big-plus {
    font-size: 50px;
}

